<%- include ("partials/header") %>

<div class="container">

<table class="table table-sm table-dark">
  <caption>*lower and upper bounds to organizers for participation (30 to 50)<br>*solution with the most upvotes gets extra points<br>*solution chosen gets 100ish points<br>*way to connect to develop the actual solution from merely the idea pitched </caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Rating Bounds</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
	<tr>
      <th scope="row">1</th>
      <td>4500+</td>
      <td>Master Thinker</td>
    </tr>
	<tr>
      <th scope="row">2</th>
      <td>3000-4499</td>
      <td>Advanced Solutionist</td>
    </tr>
	<tr>
      <th scope="row">3</th>
      <td>2000-2999</td>
      <td>Specialist</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>1000-1999</td>
      <td>Problem Solver</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>500-999</td>
      <td>Beginner</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>0-499</td>
	  <td>Newbie</td>
    </tr>
  </tbody>
</table>

</div>
<%- include ("partials/footer") %>