<%- include ("partials/header") %>

<div class="container">

<form method="POST" method="POST" action="/upload">
  <div class="form-group">
    <label for="exampleInputEmail1">Project Topic</label>
    <input type="text" name="topic" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter project name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">District</label>
    <input name="district" type="text" class="form-control" id="exampleInputPassword1" placeholder="District">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Image</label>
    <input name ="image" type="text" class="form-control" id="exampleInputPassword1" placeholder="Project/Issue Image">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Genre/Tags</label>
    <input name ="genre" type="text" class="form-control" id="exampleInputPassword1" placeholder="Project Genre">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Introduction</label>
    <input name ="introduction" type="text" class="form-control" id="exampleInputPassword1" placeholder="Project Introduction">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Deadline</label>
    <input name ="deadline" type="date" class="form-control" id="exampleInputPassword1" placeholder="Project Deadline">
  </div>
	
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	
</div>

<%- include ("partials/footer") %>